/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/02/2020, 19:48:55
    Author     : Gabriel
*/
.login-box{
    width: 40%;
    height: 260px;
    margin-top: 9%;
}

.teste{
    margin-bottom: 4%;
    margin-top: 3% !important;
}

.nasc{
    width: 40%;
}

.cadastro_esquerda{
    float: left;
    margin-right: 10%;
    margin-left: 5%;
}

.cadastro_direita{
}